<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeLeaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="" method="post">
            ID: <input type="text" th:field="${book.id}"/><br/>
            Title: <input type="text" th:field="${book.title}"/><br/>
            Author: <input type="text" th:field="${book.author}"/><br/>
            <input type="submit" name = "add" value="Add Book"/>
        </form>
        <div>
            <p th:text="|${allBooks}|"></p>
            <table>
                <tr th:each="book : ${allBooks}">
                    <td th:text="${book.title}"</td>
                </tr>
            </table>
        </div>
    </body>
</html>
