<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>All books</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p th:text="|${allBooks}|"></p>
            <table>
                <tr th:each="book : ${allBooks}">
                    <td th:text="${book.title}"</td>
                </tr>
            </table>
        </div>
    </body>
</html>
